@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

#top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    display: block;
    margin: 0;
    text-transform: uppercase;
    }
    
.container {
    width: 80%;
    margin: auto;
    vertical-align: middle;
}

#logo {
        display: inline-block;
        margin-top: 8px;
    }
    
#menu {
        float: right;
        margin-top: 14px;
    }
    
#menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
#menu li {
        float: left;
      }
      
#menu li a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
      }

.inner {
    width: 80%;
    margin: 100px auto;
    vertical-align: middle;
}

section {
    margin-bottom: 50px;
}

.intro {
    text-align: center;
    padding: 100px 0;
    background-image: ;
}

.gallery {
    display: block;
    margin: auto;
    text-align: center;
}

.content {
    text-align: left;
}